*{
    box-sizing: border-box;
    font-family: "Archivo Narrow", sans-serif;
}
html{
    font-size: 62.5%;
}
html body{
    margin : 0;
    padding : 0;
    font-size: 1.8rem;
    letter-spacing: 0.05rem;
    background-color: #F7F7F7
    ;
}
figure{
    margin: 0;
}
h1, h2, h3, h4, h5, h6{
    margin: 0;
}
h1{
    font-size: 4.5rem;
}
h2{
    font-size: 3.6rem;
}
h3{
    font-size: 3.6rem;
}
h4{
    font-size: 2.3rem;
}
.big{
    font-size: 3rem;
}
header{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    padding-block: 1rem;
    z-index: 3;
    transition: all 0.1s ease-out;
    
}
header.black{
    background-color: black;
    color: white;
    transition: all 0.1s ease-out
}
p{
    line-height: 2.7rem
}
.logo{
    font-weight: 700;
    font-size: 4rem;
}
header ul{
    display: flex;
    gap: 20px;
    align-items: center;
}
li{
    list-style: none;
}
header a{
    color: white;
    text-decoration: none;
}
 a:hover{
    text-decoration: underline;
}
section{
    width: 88%;
    margin: 0 auto;
}
.banner{
    padding: 10rem 10rem;
    padding-top: 23rem;
    background-image: url(./banner.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    backdrop-filter: blur(15px);
    z-index: -1;
    background-blend-mode:lighten(10%);
    color: white;
}
.banner-container{
    display:flex;
    width: 60%;
    flex-direction: column;
}
.acceuil-container{
    display:flex;
    justify-content: space-between;

}
.acceuil-content{
    width: 47%;
    margin-top: 10rem;
}
.acceuil-content ul{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}
.acceuil-content ul li{
    list-style: inside;
}

.trait-container{
    display: flex;
    width: 100%;
    gap: 1rem;
    margin-bottom: 0.9rem;
}
.trait{
    display:block;
    width: 7%;
    height: 5px;
    background-color: #00C2FF;
    margin-block: 10px;
}
button {
    background-color: #00C2FF;
    color: white;
    border: none;
    padding: 1rem 1.4rem;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.8rem; 
}
.banner-container a{
    color: #00C2FF;
    text-decoration: underline;

}
.banner-container button{
    margin-top: 2.1rem;
}
.bleu{
    color: #00C2FF;
}
.bold{
    font-weight: 700;
}
.underline{
    text-decoration: underline;
}
footer{
    background-color: black;
    margin-top: 4rem;
}
.footer-container{
    width: 89%;
    color: white;
    display: flex;
    justify-content: left;
    margin: 0 auto;
    align-items: center;
    gap: 3rem;
    padding-block: 3rem;
}
.contact-container{
    display: flex;
    flex-direction: column-reverse;
}
footer p{
    margin-block: 1rem;
}
.contact-content{
    width: 80%;
    display:flex;
    gap: 3rem;
    align-items: center;
}
.material-symbols-outlined{
    font-size: 40rem;
}
.material-symbols-outlined.md-43{
    font-size: 4.3rem;
}
.carre{
    width: 3rem;
    height: 3rem;
    background-color: #00C2FF;
}
.histoire-banner, .services-banner{

    background-repeat: no-repeat;
    background-size: cover;
    backdrop-filter: blur(15px);
    z-index: -1;
    color: white;
    padding: 10rem 10rem;
    margin-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.histoire-banner{
    background-image: url(./histoire.webp);
    background-position: 0% 60%;

}
.services-banner{
    background-image: url(./services.webp);
    background-position: 0% 50%;

}
.histoire-container{
    margin-top: 5rem;
}
.histoire-container ul{
    width: 70%;
    margin: 5rem auto;
    display: grid;
    grid-template-columns: 1fr 1rem 1fr;
    gap: 3rem;
    padding: 0;
}
.histoire-container ul::before{
    content:'';
    width: 0.4rem;
    height: 100%;
    grid-row: 1 / 5;
    background-color: #00C2FF;
    grid-column: 2/3;
}
.timeline-card-content{
    box-shadow: 3px 4px 6px 0px #00000026;
    padding: 2rem;
    background-color: white;

}
.timeline-card{
    display:flex;
    flex-direction: column;
    gap: 1rem;
}
.timeline-card-titre{
    display:flex;
    gap: 1.5rem;
    align-items: center;
    font-size: 2.4rem;
}






.histoire-container ul li:nth-child(even){
    grid-column: 1 / 2;
    text-align: right;
}
.histoire-container ul li:nth-child(odd){
    grid-column: 3 / 4;
}
.histoire-container ul li:nth-child(even) .timeline-card-titre{
    flex-direction: row-reverse;
}
.histoire-container ul li:nth-child(odd) .timeline-card-titre{
    display:flex;
    flex-direction: row;
    align-items: center;
}

.histoire-container ul li:nth-child(1){
    grid-row: 1 / 2;
}
.histoire-container ul li:nth-child(2){
    grid-row: 2 / 3;
}
.histoire-container ul li:nth-child(3){
    grid-row: 3 / 4;
}
.histoire-container ul li:nth-child(4){
    grid-row: 4 / 5;
}
.histoire-container ul li:nth-child(5){
    grid-row: 5 / 6;
}


.services-intro-container{
    margin-top: 5rem;
    margin-bottom: 8rem;
}
.services-intro-container ul{
    display:flex;
    flex-direction: column;
    gap: 1rem;
}
.services-intro-container li{
    list-style: inside;
}
.reparations-cards-container{
    width: 92%;
    margin: 0 auto;
}
.reparations-cards-container ul, .services-cards-container ul{
    display: flex;
    justify-content: space-between;
    padding: 0;
    flex-wrap: wrap;
    row-gap: 4rem;
    margin-block: 4rem;
    margin-left: 3rem;
}
.reparations-cards-container ul li, .services-cards-container li{
    width: 27%;
    
}
.reparations-card, .services-card{
    display: flex;
    flex-direction: column;
    width: 100%;
    box-shadow: 3px 4px 6px 0px #00000026;
    background-color: white;

}
.reparations-card{
    height: 100%;
}
.reparations-card p{
    margin-block: 1rem;
}
.reparations-card-content{
    width:80%;
    margin: 0 auto;
    display:flex;
    flex-direction: column;
    margin-block: 1.6rem;
 
}
#caisse .reparations-card .titre{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}
.reparations-card .titre{
    display: flex;
    flex-direction: column-reverse;
}
.reparations-card figure{
    width: 100%;
    height: 12rem;
}
.reparations-card figure img{
    width: 100%;
    object-fit: cover;
    height: 100%;
}


.composants-banner{
    display: flex;
    width: 100%;
    background-color: #00C2FF;
    color: white;
    gap: 4rem;
    margin-block: 6rem;
}
.composants-banner-titre{
    width: 35%;
    background-image: url(./services.webp);
    padding: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    
}
.composants-banner-content{
    width: 55%;
    display: flex;
    flex-direction: column;
    padding: 2rem;
}
.services-card h4{
    text-align: center;
}
.services-cards-container{
    margin-block: 5rem;
}
.services-card{
    padding: 3rem;
}
.nous-contacter{
    display:flex;
    align-items: center;
    width: 80%;
    margin: 5rem auto;
    justify-content: space-between;
}
.nous-contacter-container{
    margin-block: 5rem;
}
.contact-map{
    width: 63%;
    height: 40rem;
}
.nous-contacter .contact-container{
    width: 35%;
}
.reparations-cards-container h3{
    margin-top: 3rem;
    margin-bottom: 2rem;
}

.mobile-bar{
    display: none;
}

@media only screen and (max-width: 993px){
    .mobile-bar{
        display: block;
    }
    header nav{
        display: none;
    }
    header{
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: fixed;
        top: 0;
        left: 0;
        padding-block: 1rem;
        z-index: 3;
        transition: all 0.1s ease-out;
        padding-block: 3rem;
        padding-inline: 5rem;
    }
    .acceuil-container{
        flex-direction: column;
    }
    .acceuil-content{
        width: 100%;
    }
    .banner{
        padding: 21rem 4rem 10rem;
    }
    .banner-container{
        width: 75%;
    }
    .footer-container{
        align-items: baseline;
        flex-direction: column;
    }
    .nous-contacter{
        flex-direction: column;
        align-items: baseline;
    }
    .nous-contacter .contact-container{
        width: 80%;
    }
    .contact-map{
        width: 100%;
    }
   
}

@media only screen and (max-width: 690px){
    .histoire-container li{
        grid-column: 3/4 !important;
    }
    
    .histoire-container ul{
        grid-template-columns: 1rem 1fr;
        width: 90%;
    }
    .timeline-card-titre{
        flex-direction: row !important;
    }
}

@media only screen and (max-width: 710px){
    .reparations-cards-container ul li, .services-cards-container li{
        width: 45%;
    }
    section{
        width: 92%;
    }
    .reparations-cards-container{
        width: 100%;
    }
    .reparations-cards-container ul{
        margin-inline: 0;
    }
    .composants-banner{
        flex-direction: column;
    }
    .composants-banner-titre{
        width: 100%;
        height: auto;
        padding-block: 5rem;
    }
    .composants-banner-content{
        width: 100%;
    }
}